/*.ez
/_build
/config/local.exs
/data
/db
/deps
/erl_crash.dump
/latest.dump
/priv/static
/tags
/lib/entr/entr
.env
.DS_Store
.elixir_ls
priv/repo/seeds_dev.exs
npm-debug.log
/assets/node_modules/
/priv/static/
/cover
.vscode